
<div style="padding: 50px">
    <div class="progress row" style="width: 50%;margin-left: 25%">
        <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="3" style="width: 100%;">
            3/3
        </div>

    </div>
    <div>
        <div class="row" style="text-align: left">
            <h5>Log In Information</h5>
        </div>
        <div class="row" >
            <div class="col-lg-6">


                <div class="form-group">
                    <input type="password" class="form-control input-sm" placeholder="Password" ng-model="user.password">
                </div>

            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <input type="password" class="form-control input-sm" placeholder="Confirm Password" ng-model="user.confirmPassword">
                </div>
            </div>
        </div>

        <div class="row" >
            <div class="col-lg-12 text-center">
                <br>
                <button class="btn btn-default btn-grey" ui-sref='join.patient.step2'>PREVIOUS</button>
                <button class="btn btn-primary btn-orange" ng-click="registerPAtient()">REGISTER</button>
            </div>
        </div>
    </div>
</div>
