<h4>Appointment List</h4>
<div class="panel-body" style="padding:0px;margin:0px;height: 100%">

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>
                Title
            </th>

            <th>
                Details
            </th>
            <th>
                Start
            </th>
            <th>
                End
            </th>

            <th>
                Status
            </th>
            <th>
                Delayed Date/Time
            </th>

        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="doc in appointments" >
            <td class="col-md-1">{{ doc.subject }}</td>

            <td class="col-md-2">{{ doc.details }}</td>
            <td class="col-md-1">{{ doc.startTime | date:"short"}}</td>
            <td class="col-md-1">{{ doc.endTime | date:"short"}}</td>

            <td   class="col-md-4">

                <a href ng-click="edit(doc)">
                    <div ng-if="getStatus(doc)=='finished'">
                        <div style="" class="col-xs-12">
                            <div class="col-xs-4" style="background-color:#b5b5b5;">
                                <span style="color:whitesmoke">On Time</span>
                            </div>

                            <div  class="col-xs-4" style="background-color:#b5b5b5;">
                                <span style="color:whitesmoke">Delayed</span>

                            </div>
                            <div class="col-xs-4" style="background-color:#0099e6;">
                                <span style="color:white">Complete</span>
                            </div>
                        </div>
                    </div>
                    <div ng-if="getStatus(doc)=='ontime'">
                        <div style="" class="col-xs-12">
                            <div class="col-xs-4" style="background-color:#25e648;">
                                <span style="color:white">On Time</span>
                            </div>
                            <div class="col-xs-4" style="background-color:#b5b5b5;">
                                <span style="color:whitesmoke">Delayed</span>
                            </div>

                            <div  class="col-xs-4" style="background-color:#b5b5b5;">
                                <span style="color:whitesmoke">Complete</span>

                            </div>

                        </div>
                    </div>
                    <div ng-if="getStatus(doc)=='reported'">
                        <div style="" class="col-xs-12">
                            <div class="col-xs-4" style="background-color:#b5b5b5;">
                                <span style="color:whitesmoke">On Time</span>
                            </div>


                            <div class="col-xs-4" style="background-color:#df001a;">
                                <span style="color:white">Delayed</span>
                            </div>
                            <div  class="col-xs-4" style="background-color:#b5b5b5;">
                                <span style="color:whitesmoke">Complete</span>

                            </div>
                        </div>
                    </div>
                </a>

            </td>
            <td class="col-md-1">
                <div ng-if="getStatus(doc)=='reported'">{{doc.fromStatusNow | date:"short" }}</div>
            </td>



        </tr>
        </tbody>

    </table>


</div>