
<div>
    <div  class="horizontal-bar"></div>

    <div class="home-login" style="padding-right: 10%;padding-left: 10%;padding-top: 15px">
        <div class="col-lg-3" style="vertical-align: middle">
            <img src="img/doctor.png" class="img-responsive" >
        </div>
        <div class="col-lg-9">
        <span style="color: white">
            <h3><b>TracDr.</b> is a mobile web app that tracks a doctor’s progress with patients</h3>
            <h6>  and sends automated notifications and text messages to patients.
                It incorporates the use of a patient-driven scheduling system, which allows patients to register and update any personal information,
                insurance information, current medications and allergies information into the system.
            </h6>
        </span>

            <div class="main-form main-form-tracdr">
            <span >
                <div class="login-form__left" >
                    <div data-ng-include="'/tracdr/website/views/login.html'" ></div>

                </div>
            </span>
            </div>

        </div>
    </div>


    <div class="container txt-center">
        <h3>WHAT IS TracDr. ?</h3>
        <p><h5>kkkddk sndcnldm ld,sdl kqdqlmqs mlkqsdqk qkqdqk </h5></p>
    </div>
    <div class="container txt-center">
        <h3>WHAT WE OFFER ?</h3>
        <h4>Some great features</h4>
    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-4">
                CALENDAR
            </div>
            <div class="col-lg-4">
                GEOLOCATION
            </div>
            <div class="col-lg-4">
                PERIODIC REMINDERS
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                USER PROFILE
            </div>
            <div class="col-lg-4">
                TIMER
            </div>
            <div class="col-lg-4">
                GREAT SUPPORT
            </div>
        </div>
    </div>
    <div class="content txt-center">
        READ MORE
    </div>


    <script type="text/javascript">
        window.user = {};
        window.modules = [{"name":"access","module":"mean.access"},{"name":"articles","module":"mean.articles"},{"name":"system","module":"mean.system"},{"name":"theme","module":"mean.theme"},{"name":"users","module":"mean.users"},{"name":"dashboard","module":"mean.dashboard"},{"name":"doctors","module":"mean.doctors"},{"name":"patients","module":"mean.patients"}];
    </script>

</div>
