<div >
    <div class="input-wrapper">
        <input required id="email_block" type="email" name="email" placeholder="Email Address" ng-model="user.email">
        <div class="error_message">Please enter a correct info #</div>
        <span class="pic email tracdr-email"></span>
    </div>
    <div class="input-wrapper">
        <input required id="password_block" name="password" type="{{input.type}}" placeholder="{{input.placeholder}}" ng-model="user.password">
        <div class="error_message">Please enter a correct info #</div>
                            <span class="pic password {{input.iconClass}} tracdr-pwd" ng-click = "togglePasswordVisible()">
                                  <div class="hide_text_password">
                                      {{input.tooltipText}}
                                  </div>
                            </span>
    </div>
    <button type="submit" class="btn btn-reg">SIGNIN</button>
    <button ui-sref="join" class="btn btn-primary">REGISTER</button>

</div>