<div ng-controller="loginCtrl">
    <div class="input-wrapper">
        <input required id="email_block" name="user.email" placeholder="Email" ng-model="user.email">
        <div class="error_message">Please enter a correct info #</div>

    </div>
    <div class="input-wrapper" ng-if="!forget">
        <input type="password" required id="password_block" name="user.password" placeholder="Password" ng-model="user.password">
        <div class="error_message">Please enter a correct info #</div>

    </div>
    <div ng-hide="forget">
        <button type="submit" class="btn btn-reg" ng-click="login()">Sign In</button>
        <button ui-sref="join" class="btn btn-primary">Register</button>
    </div>
    <div ng-show="forget">
        <button type="submit" class="btn btn-reg" ng-click="login()">Send</button>
        <button ng-click="forget=false" class="btn btn-primary">Cancel</button>
    </div>
    <a ng-click="forget=true" ng-show="!forget">Forget your Password?</a>
    <div>
        <label style="color:red">{{loginError.errorMessage}}</label>
    </div>

</div>