<H4>Notification</H4>
<div>
    <div>
        <table style="width: 100%">
            <tr>
                <td style="vertical-align: top; width:40%">
                    <ul class="list-group">
                        <li  class="list-group-item">
                            There is no notification
                        </li>
                    </ul>
                </td>
                <td style="vertical-align: top">
                    <ul class="list-group">
                        <li class="list-group-item ">
                            <b class="txt-color">Notification Datails:</b>
                        </li>

                    </ul>
                </td>
            </tr>
        </table>
    </div>
</div>