<div >


    <div class="progress row">
        <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="3" style="width: 66%;">
            2/3
        </div>
        {{notfound}}
    </div>
    <div>
        <div class="row" style="margin-left: 16%;text-align: left">
            <h5>Find your Doctor: </h5>

        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <input type="text" class="form-control input-sm" ng-model="join.searchStr" ng-model-options="{debounce: 1000}" placeholder="Type your doctor name...">
                </div>

            </div>

            <div class="col-lg-6">
                <ul class="list-group">
                    <li  class="list-group-item" ng-repeat="doc in searchresult" ng-click="selectDoctor(doc)">
                     DR. {{doc.firstName}}  {{doc.lastName}} <small style="float: right; opacity: .5"> {{doc.specialty}}</small>
                    </li>

                </ul>
            </div>
        </div>
        <div class="row" style="text-align: left">
            <h5></h5>
            <a ng-click="join.notfound=true">Can't track your doc? please give us his/her information and we will make sure they are track-able</a>
        </div>
        <div class="row" ng-show="join.notfound">
            <div class="col-lg-6">
                <div class="form-group">
                    <input type="text" class="form-control input-sm" placeholder="First Name" ng-model="doctor.firstName">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control input-sm" placeholder="Second Name" ng-model="doctor.firstName">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control input-sm" placeholder="Practice" ng-model="doctor.specialty">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <select class="form-control input-sm" ng-model="doctor.country">
                        <option>Select country</option>
                        <option>USA</option>
                        <option>Canada</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control input-sm" placeholder="State" ng-model="doctor.state">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control input-sm" placeholder="Hospital" ng-model="doctor.hospital">
                </div>
            </div>
        </div>

        <div class="row" >
            <div class="col-lg-12 text-center">
                <br>
                <button class="btn btn-default btn-grey" ui-sref='join.patient'>PREVIOUS</button>
                <button class="btn btn-primary btn-orange" ui-sref='join.patient3'>NEXT</button>
            </div>
        </div>
    </div>
</div>
