<div class="hr">
    <div class="container" ng-conttroller="patientCtrl">
        <div class="row">
            <div class="col-xs-2 text-right">
                <img src="img/profile.png" class="img-profile">
            </div>
            <div class="col-xs-7">
                <h5 class="profile-name">{{user.name}}</h5>
                <p>
                    <a href="#">
                        Account Settings
                    </a>
                    <br>
                    <a href="/">
                        Log Out
                    </a>
                </p>
            </div>
            <div class="3">
                <input type="search" placeholder="Search">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 text-right">
                <a ui-sref="dashboard" ng-click="active='profile'">
                    <div class="btn bg-primary btn-dash" ng-class="active=='profile'?'btn-dash-orange':''">
                        <img src="img/my-profile.png">
                        <h6>My profile</h6>
                    </div>
                </a>
                <a ui-sref="dashboard.appointments" ng-click="active='appointments'">
                    <div class="btn bg-primary btn-dash" ng-class="active=='appointments'?'btn-dash-orange':''">
                        <img src="img/appointments.png">
                        <h6>Appointments</h6>
                    </div>
                </a>
                <a ui-sref="dashboard.notifications" ng-click="active='notifications'">
                    <div class="btn bg-primary btn-dash" ng-class="active=='notifications'?'btn-dash-orange':''">
                        <img src="img/notifications.png">
                        <h6>Notifications</h6>
                    </div>
                </a>
                <a ui-sref="dashboard.calendar" ng-click="active='calendar'">
                    <div class="btn bg-primary btn-dash" ng-class="active=='calendar'?'btn-dash-orange':''">
                        <img src="img/calendar.png">
                        <h6>Calendar</h6>
                    </div>
                </a>
            </div>
            <div class="col-xs-10" >
                <div class="container">
                    <div class="row" style="min-height:200px;width:60%;">
                        <div class="col-sm-2 text-right">
                            <img src="img/profile.png" class="img-profile">
                        </div>
                        <div class="col-sm-10">
                            <div class="row">
                                <div class="col-md-3 text-right">
                                    Full name
                                </div>
                                <div class="col-md-9 text-right">
                                    {{global.user.name}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

