<h3>Appointments</h3>
<div>
    <div>
        <table style="width: 100%">
            <tr>
                <td style="vertical-align: top; width:40%">
                    <ul class="list-group">
                        <li ng-click="selectAppointment(iteration._id)" class="list-group-item" ng-class="appointment._id==iteration._id?'main-color':''" ng-repeat="iteration in appointments| filter:dashboard.search">
                            {{iteration.subject}} <small style="float: right; opacity: .5">{{iteration.startTime| date : 'medium'}}</small>
                        </li>
                        <li  class="list-group-item" ng-if="appointments.length<1">
                            You don't have any Appointment
                        </li>
                    </ul>
                </td>
                <td style="vertical-align: top">
                    <ul class="list-group"  ng-if="appointments.length>0">
                        <li class="list-group-item ">
                            <b class="txt-color">Appointment: {{appointment.startTime| date : 'medium'}} To  {{appointment.endTime| date : 'medium'}}</b>
                        </li>
                        <li class="list-group-item" style="min-height: 250px">

                            <div class="col-lg-4">
                                <img src="img/join-patient.png">
                            </div>
                            <div class="col-lg-8">

                                <b>Subject:</b> {{appointment.subject}}<br>
                                <b>Details:</b> {{appointment.details}}<br>

                            </div>

                            <br>

                        </li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</div>