
<div class="hr">
    <div class="container" >
        <div class="row">
            <div class="col-xs-4 text-right">
                <img src="img/profile.png" class="img-profile">
            </div>
            <div class="col-xs-7">
                <h5 class="profile-name">{{user.firstName}}</h5>
                <p>

                    <a ng-click="logout()">
                        Log Out
                    </a>
                </p>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-2  text-right ">
                <a ui-sref="doctor" ng-click=" active='patients'">
                    <div class="btn bg-primary btn-dash" ng-class="active=='patients'?'btn-dash-orange':''">
                        <img src="img/userprofile.png" width="45px">
                        <h6>Patients</h6>
                    </div>
                </a>
                <a ui-sref="doctor.calendar" ng-click="active='calendar'">
                    <div class="btn bg-primary btn-dash" ng-class="active=='calendar'?'btn-dash-orange':''">
                        <img src="img/calendar.png">
                        <h6>Appointment</h6>
                    </div>
                </a>
                <a ui-sref="doctor.profile" ng-click=" active='profile'">
                    <div class="btn bg-primary btn-dash" ng-class="active=='profile'?'btn-dash-orange':''">
                        <img src="img/my-profile.png">
                        <h6>My profile</h6>
                    </div>
                </a>
            </div>



            <div class="col-lg-10 col-xs-10" >
                <div class="" ui-view>





                        <div class="col-lg-10">
                            <h3>Patients</h3>
                            <button type="button" class="btn btn-primary btn-sm " ng-click="addPatient()">Add</button>
                            <table datatable="" dt-options="dtOptions" dt-columns="dtColumns" class="row-border hover" width="100%"></table>
                        </div>

                </div>
            </div>
           </div>
    </div>

</div>