
<div class="hr">
    <div class="container" style="background-color: red">
        <div class="row">


                 <div class="" style="display: inline">
                     <img src="img/profile.png" class="img-profile">
                 </div>
            <div  style="width: 120px;height: 60px;;display: inline">
                <h5 class="profile-name">{{user.firstName}}</h5>
                <p>

                    <a ng-click="logout()">
                        Log Out
                    </a>
                </p>
            </div>


        </div>
ddd
    </div>

</div>