


<div class="txt-center" style="margin-left: 15%;margin-right: 15%">


    <a href="#" class="btn" flow-btn flow-attrs="{accept:'image/*'}">
        <img style="border-radius: 50%;width: 50px;height: 50px"  flow-img="$flow.files[0]" ng-show="$flow.files.length"/>
        <img style="border-radius: 50%;width: 50px;height: 50px" src="img/upload.png"  ng-hide="$flow.files.length"/>
    </a>
    <h4 class="txt-color">I'm a new Doctor</h4>
</div>
<div flow-init
     flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
     flow-files-submitted="$flow.upload()" >

    <!--div ng-repeat="error in registerError">
        <div class="alert alert-danger animated fadeIn">{{error.msg}}</div>
    </div-->
    <!--div class="alert alert-danger animated fadeIn" ng-show="usernameError">{{usernameError}}</div>
    <div class="alert alert-danger animated fadeIn" ng-show="emailError">{{emailError}}</div-->


    <div class="row" style="text-align: left">
        <h5>Enter Your Personal Details</h5>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <input type="text" class="form-control input-sm" placeholder="First Name" ng-model="user.firstName">
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-sm" placeholder="Last Name" ng-model="user.lastName">
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-sm" placeholder="Email" ng-model="user.email">
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-sm" placeholder="Date of Birth" ng-model="user.dateOfBirth"
                       datepicker-popup="dd-MMMM-yyyy"
                       ng-model="cdate.customStartDate"
                       is-open="cdate.customStartDate.open"
                       ng-click = "cdate.customStartDate.open = true"

                       ng-required="true"
                       close-text="Close"
                        />

            </div>

        </div>

        <div class="col-lg-6">
            <!--<div class="form-group">
                <select class="form-control input-sm" ng-model="user.country">
                    <option></option>
                    <option>USA</option>
                    <option>Canada</option>
                </select>
            </div>-->

            <div class="form-group">
                <select class="form-control input-sm" placeholder="Gender" ng-model="user.gender">
                    <option value="" disabled selected>Select Gender</option>
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control input-sm" ng-model="user.state">
                    <option value="" disabled selected>Select your State</option>
                    <option>Alabama</option>
                    <option>Alaska</option>
                    <option>Arizona</option>
                    <option>Arkansas</option>
                    <option>California</option>
                    <option>Colorado</option>
                    <option>Connecticut</option>
                    <option>Delaware</option>
                    <option>Florida</option>
                    <option>Georgia</option>
                    <option>Hawaii</option>
                    <option>Idaho</option>
                    <option>Illinois</option>
                    <option>Indiana</option>
                    <option>Iowa</option>
                    <option>Kansas</option>
                    <option>Kentucky</option>
                    <option>Louisiana</option>
                    <option>Maine</option>
                    <option>Maryland</option>
                    <option>Massachusetts[D]</option>
                    <option>Michigan</option>
                    <option>Minnesota</option>
                    <option>Mississippi</option>
                    <option>Missouri</option>
                    <option>Montana</option>
                    <option>Nebraska</option>
                    <option>Nevada</option>
                    <option>New Hampshire</option>
                    <option>New Jersey</option>
                    <option>New Mexico</option>
                    <option>New York</option>
                    <option>North Carolina</option>
                    <option>North Dakota</option>
                    <option>Ohio</option>
                    <option>Oklahoma</option>
                    <option>Oregon</option>
                    <option>Pennsylvania</option>
                    <option>Rhode Island</option>
                    <option>South Carolina</option>
                    <option>South Dakota</option>
                    <option>Tennessee</option>
                    <option>Texas</option>
                    <option>Utah</option>
                    <option>Vermont</option>
                    <option>Virginia</option>
                    <option>Washington</option>
                    <option>West Virginia</option>
                    <option>Wisconsin</option>
                    <option>Wyoming</option>

                </select>
            </div>

            <div class="form-group">
                <input type="text" class="form-control input-sm" placeholder="Post Code" ng-model="user.postcode">
            </div>
            <div class="form-group">
                <input type="text" class="form-control input-sm" placeholder="Phone Number" ng-model="user.phone">
            </div>
           <!-- <div class="form-group">
                <input type="text" class="form-control input-sm" placeholder="Next of Kin Phone Number" ng-model="user.kinphone">
            </div>-->
        </div>
    </div>
    <div class="row" style="text-align: left">
        <h5>Enter Your Professional Details</h5>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <select class="form-control input-sm" placeholder="Specialty" ng-model="user.specialty">
                    <option value="" disabled selected>Specialty</option>
                    <option>Acupuncturists</option>
                    <option>Allergists</option>
                    <option>Cardiologists</option>
                    <option>Chiropractors</option>
                    <option>Dentists</option>
                    <option>Dermatologists</option>
                    <option>Dietitians</option>
                    <option>Ear, Nose & Throat Doctors</option>
                    <option>Endocrinologists</option>
                    <option>Endodontists</option>
                    <option>Eye Doctors</option>
                    <option>Family Physicians</option>
                    <option>Infectious Disease Specialists</option>
                    <option>Infertility Specialists</option>
                    <option>Internists</option>
                    <option>Neurologists</option>
                    <option>Neurosurgeons</option>
                    <option>Nurse Practitioners</option>
                    <option>Nutritionists</option>
                    <option>OB-GYNs</option>
                    <option>Oncologists</option>
                    <option>Ophthalmologists</option>
                    <option>Optometrists</option>
                    <option>Oral Surgeons</option>
                    <option>Orthodontists</option>
                    <option>Orthopedic Surgeons</option>
                    <option>Pain Management Specialists</option>
                    <option>Pediatric Dentists</option>
                    <option>Pediatricians</option>
                    <option>Periodontists</option>
                    <option>Physiatrists</option>
                    <option>Physical Therapists</option>
                    <option>Plastic Surgeons</option>
                    <option>Podiatrists</option>
                    <option>Doctors</option>
                    <option>Prosthodontists</option>
                    <option>Psychiatrists</option>
                    <option>Psychologists</option>
                    <option>Psychotherapists</option>
                    <option>Radiologists</option>
                    <option>Rheumatologists</option>
                    <option>Sleep Medicine Specialists</option>
                    <option>Sports Medicine Specialists</option>
                    <option>Surgeons</option>
                    <option>Therapists / Counselors</option>
                    <option>Urologists</option>
                </select>
            </div>
        </div>




        <div class="col-lg-6">
            <div class="form-group">
                <input type="text" class="form-control input-sm" placeholder="Hospital" ng-model="user.hospital">
            </div>
        </div>
    </div>
    <div class="row" style="text-align: left">
        <h5>Enter Your Login Details</h5>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <input type="text" class="form-control input-sm" placeholder="Password" ng-model="user.password">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <input type="text" class="form-control input-sm" placeholder="Confirm Password" ng-model="user.confitmpassword">
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-lg-12 text-center">
            <br>
            <button class="btn btn-default btn-grey" ui-sref='join'>BACK</button>
            <button class="btn btn-primary btn-orange" ng-click="registerDoctor()">Register</button>
        </div>
    </div>

</div>
