.page-header {
    padding-bottom: 0 !important;
    margin: 0 !important;
    border-bottom: 0 !important;
}
.page-header .navbar-nav {
    float: right;
}
.page-header > div > div, .page-header > div > ul {
    display: inline-block;
}
.text-edit {
    padding: 13px 0 0 0;
}
.account {
    text-align:right;
}
.account > div, .account > ul {
    text-align: left;
}
.navbar .nav > li > a.brand {
    padding-left: 20px;
    margin-left: 0
}
.content {
    margin-top: 105px;
    width: 100%
}
footer {
	position: fixed;
	left: 0;
	bottom: 0;
	height: 30px;
	width: 100%;
	background: #ddd;
	-webkit-box-shadow: 0 8px 6px 6px black;
	-moz-box-shadow: 0 8px 6px 6px black;
	box-shadow: 0 8px 6px 6px black
}
footer p {
	padding: 5px 0 12px 10px
}

.featuredpic img{
  width:510px;
}
/*.ng-invalid.ng-dirty{*/
    /*border-color:#FA787E;*/
/*}*/
/*.ng-valid.ng-dirty{*/
    /*border-color:#78FA89;*/
/*}*/

.jumbotron.tracdr-container {
    background-color: #FFFFFF;
    padding: 0;
    padding-top: 150px;
    border-radius: 0;
}

.tracdr-header{
    background-color: #FFFFFF;
    border: 0;
    border-radius: 0;
    margin-bottom: 5px;
}

.horizontal-bar{
    width: 100%;
    height: 8px;
    background-color: #0078ba;
}

.footer.tracdr-footer{
    background-color: #005991;
    color: #FFFFFF;

}

.navbar-fixed-top {
    border-width: 0 0 15px;
}

.navbar-right {
    padding-top: 45px;
}

.pic.password.tracdr-pwd {
    position: absolute;
    background: url("/theme/assets/img/eye_password.png") no-repeat 50% 50%;
    width: 33px;
    height: 20px;
    top: 6px;
    right: 22px;
    cursor: pointer;
}

.pic.email.tracdr-email {
    position: absolute;
    background: url("/theme/assets/img/mail_login.png")  no-repeat 50% 50%;
    width: 33px;
    height: 21px;
    top: 6px;
    right: 22px;
    cursor: pointer;
}

.main-form.main-form-tracdr{
    background: #ffffff;
    height: 165px;
    width: 70%;
    margin-top: 5px;
    margin-left: 0;
    border-radius: 10px;
}

.main-form.main-form-tracdr .input-wrapper input {
    width: 80%;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 5px 0 5px 5px;
    outline: none;
    font-size: 15px;
    font-family: 'proxima_nova_rgregular';
    line-height: 22px;
}

.tracdr-theme{
    background-color: #0078ba;
}

.home-login{
    background-color: #0078ba;
    min-height: 390px;
}

.txt-center{
    text-align: center;
}
.text-right{
    text-align: right;
}

.txt-color{
    color: #0078ba;
}

.revert-color{
    color: #ff8c27;
}

.btn-orange{
    background-color: #ff8c27;
    border-color: #ff8c27;
    width:100px;
}

.btn-blue{
    background-color: #005991;
    width:100px;
}

.main-color {
    background-color: #0078ba;
    color: #ffffff;
}
.btn-grey{
    background-color: #cfced3;
    color: #ffffff;
    min-width: 100px;
}

.opacity-img{
    opacity: .4;
}

.vertical_bar {
    background: url("/theme/assets/img/vertical-bar.png") no-repeat 50% 30%;
    opacity: .4;
}

.vertical_bar p {
    margin-top: 281px;
    font-family: 'proxima_novalight';
    font-size: 16px;
}

.footer-social {
    background-color: #0078ba;
    text-align: center;
    padding-top: 3px;
    height: 145px;
    margin-bottom: 2px;
}

.list-group .list-group-item{
    border-radius: 0;
    cursor: pointer;
}

.bg-primary{
    background-color: #0078ba;
}

.menuextras {
  font-size: 0.85em;
  height: 30px;
}

.menuextras ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  float: right;
  padding: 3px 0;
}
.menuextras .extras li {
  padding: 0 8px;
}
.menuextras li {
  float: left;
  padding: 0 8px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #1A04D2;
  background-color: transparent !important;
  text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a {
  text-transform: uppercase;
}


/*-------------------------------*/
/*      Code snippet             */
/*      for Quote Carousel       */
/*-------------------------------*/


section {
    padding-top: 20px;
    padding-bottom: 20px;
}

.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: orange;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border-radius: 70px;
    /*border:solid 2px;*/
}

.fa-quote-left{
    color:orange;
}


/*  FEature */
.cover-card {
    border: 1px solid white;
    background: silver;
    padding: 0px;
    margin: 0px;
    height:200px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.cover-card > p {
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 12px;
}
.cover-card:hover > p {
    color: white;
    text-shadow: 3px 3px 10px #000;
}